.home-page {
    margin: 50px;
    background-color: var(--base);
    border-radius: 13px;
    padding: 20px;
}



.table-container {
    /* width: calc(100vw - 60px - 100px); */
    overflow-x: scroll;
    margin: calc(20px + 50px);

    margin: 50px;
    background-color: var(--base);
    border-radius: 13px;
    padding: 20px;

    /* overflow: hidden; */
}

@media (max-width: 768px) {
    .table-container {
        width: calc(100vw - 0px);
        overflow-x: scroll;
        margin: 0;
        margin-top: calc(50px);
        /* overflow: hidden; */
    }

    /* .table-header {
        position: absolute;
        width: calc(100% - 000px);
        height: 100px;
        background-color: grey;
        z-index: 3;
        margin: -20px;
    } */
}

/* .table-header {
    position: absolute;
    
    width: calc(100% - 100px);
   
    height: 100px;
    background-color: grey;
    z-index: 3;
    margin: -20px;

} */