.home-page {
    margin: 30px;
    background-color: var(--base);
    border-radius: 13px;
    padding: 10px;
}


.home-page h1, .home-page p {
    margin-left: 10px;
}


.table-container {
    /* width: calc(100vw - 60px - 100px); */
    overflow-x: scroll;
    margin: calc(20px + 50px);

    margin: 50px;
    background-color: var(--base);
    border-radius: 13px;
    padding: 20px;

    /* overflow: hidden; */
}

@media (max-width: 768px) {
    .table-container {
        width: calc(100vw - 0px);
        overflow-x: scroll;
        margin: 0;
        margin-top: calc(50px);
        /* overflow: hidden; */
    }

    /* .table-header {
        position: absolute;
        width: calc(100% - 000px);
        height: 100px;
        background-color: grey;
        z-index: 3;
        margin: -20px;
    } */
}

/* .table-header {
    position: absolute;
    
    width: calc(100% - 100px);
   
    height: 100px;
    background-color: grey;
    z-index: 3;
    margin: -20px;

} */




#dashboard {
    width: 90%;
    margin: auto;
}

#month-header {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

#schedule {
    /* background: white; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.date-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.date {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    width: 50px;
}

.event {
    flex-grow: 1;
    margin-left: 10px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.event-description {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    display: none;
}

.event-title:hover {
    color: #007BFF;
}



