.container {
    position: relative;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
  }

  

  .tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: var(--tile-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 2;
  }

  .tab {
    margin: 0 10px;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 4px solid transparent;
  }

  .tab.active {
    /* background-color: #333; */
    /* color: #fff; */

    border-bottom: 4px solid grey;
  }

